# Виртуальное окружение
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# Логи и временные файлы
*.log
*.tmp

# Файлы окружения
.env
.env.local

# Директория с зависимостями (если используешь)
*.egg-info/
dist/
build/